body {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    text-align: center;
    color: ghostwhite;
    padding: 20px;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    overflow: hidden;
    margin: 0;
}

.loserbg{
    background-image: url("losebg.gif")
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards, slideIn 2s ease-in-out forwards;
}

h1 {
    margin-top: 50px;
    font-size: 56px;
    color: #FFD700;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
    transform: translateY(-40%);
    animation: slideIn 2s ease-in-out forwards, flashText 5s linear infinite;
    position: relative;
}

.red {
    animation: slideIn 2s ease-in-out forwards, flashRed 1s linear infinite;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s, transform 0.3s;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
}

.button:hover {
    background-color: skyblue;
    border: 2px outset black;
    transform: scale(1.05);
}

.loser-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s, transform 0.3s;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
}

.loser-button:hover {
    background-color: skyblue;
    border: 2px outset black;
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    width: 20%;
    background-color: skyblue;
    z-index: 1;
    border: solid black 1px;
}

.loserpopup {
    background-color: white;
}

#popup:target {
    display: block;
}

#popup2 {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 15%);
    width: 20%;
    background-color: skyblue;
    z-index: 1;
    border: solid black 1px;
}

#popup2:target {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-40%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes explode {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) scale(0);
        opacity: 0;
    }
}

@keyframes fireworks {
    0% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(20px) translateY(-20px) scale(0.5);
        opacity: 0;
    }
}

.fireworks-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.firework {
    width: 10px;
    height: 10px;
    background-color: #ffcc00;
    position: absolute;
    animation: explode 1s ease-out infinite;
    opacity: 0;
    transform-origin: center;
    pointer-events: none;
    z-index: 2;
}

.firework-1 {
    left: 45%;
    animation-delay: 0.2s;
}

.firework-2 {
    left: 50%;
    animation-delay: 0.4s;
}

.firework-3 {
    left: 46%;
    animation-delay: 0.3s;
}

.firework-4 {
    left: 47%;
    animation-delay: 0.4s;
}

.firework-5 {
    left: 51%;
    animation-delay: 0.3s;
}

.firework-6 {
    left: 52%;
    animation-delay: 0.2s;
}

@keyframes flashText {
    0% {
        color: #FFD700;
    }
    50% {
        color: white;
    }
    100% {
        color: #FFD700;
    }
}

@keyframes flashRed {
    0% {
        color: red;
    }
    50% {
        color: white;
    }
    100% {
        color: red;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}

@keyframes screenOn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.center {
    animation: screenOn 2s ease-in-out forwards;
    position: relative;
}

.center img {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.hiddenimg {
    opacity: 0;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.disappear {
    animation: disappear 1s forwards;
    animation-delay: 2s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.appear {
    animation: appear 1s forwards;
    animation-delay: 3s;
}

.skull-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.skull-container::before {
    content: "\2620";
    font-size: 36px;
    animation: flashAndShake 2s infinite, fadeIn 2s forwards;
    position: absolute;
}

.skull-1{
    left: -8%;
}

.skull-2 {
    left: -1%;
}

.skull-3 {
     right: -5%;
}

@keyframes flashAndShake {
    0%, 100% {
        transform: translateX(0) rotate(0);
        opacity: 1;
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px) rotate(-5deg);
        opacity: 0.7;
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px) rotate(5deg);
        opacity: 0.7;
    }
}